.App-header {
    color: white;
    background-color: #750628;
    padding-inline: 3em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: calc(1px + 2vmin);
}
.header-element {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    margin: 3em;
}
.header-element:hover {
    color: #bebebe;
}

.title {
    margin: 1em;
    font-size: 2em;
}