.App-header {
    background-color: #750628;
    padding-inline: 10vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: calc(1px + 2vmin);
}
.header-element {
    color: #9AF5F8;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1em;
}
.header-element:hover {
    color: white;
    background: #5d051d;
}
.header-element:active {
    background-color: #910832;
    color: #f1cc53;
}


.logo-img {
    height: 3em;
    width: 3em;
}

.title {
    font-size: 2em;
    padding: 0.5em;
    padding-inline: 1.5em;
    /*padding-bottom: 0.5em;*/
}