.App {
  text-align: center;
  padding-bottom: 1em;
  background: radial-gradient(ellipse at top, #ffe99d, #ffe99d, transparent),
  radial-gradient(ellipse at bottom, #ffe99d, #ffe99d, #dc4000);
}

.page {
  margin-block: 3vh;
  margin-inline: 8vw;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

p {
  margin-block: 0.5em;
}

button, .button {
  background-color: #ec4400;
  color: #9AF5F8;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}
button:hover, .button:hover {
  background: #cc3d01;
  color: white;
}
button:active, .button:active {
  background: #ff5615;
  color: #f1cc53;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100vw;
  }
}
