.App {
  text-align: center;
}

.hidden {
  display: none;
}

.navi {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.navi:hover {
  color: #5d5d5d;
}

.page {
  margin-block: 3vh;
  margin-inline: 10vw;
}

.training-div {
  height: 16em;
}

p {
  margin-block: 0.5em;
}

hr {
  width: 75vw;
}

form {
  justify-content: space-around;
  display: grid;
}
form h4 {
  margin-bottom: 1em;
  text-align: center;
}
form p {
  margin: auto;
  text-align: center;
}
form .label-p-basic {
  display: inline;
  width: 35vw;
}

form textarea {
  margin-block: 0.5em;
  width: 40vw;
}
form input {
  width: 30vw;
}
form .label-inp-num {
  width: 3.25em;
}
form .label-p-num {
  display: inline;
}
form button {
  width: 30%;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.progress-view {
  height: 5em;
}
.progress-fields {
  display: inline-block;
}
.progress-field {
  min-width: 1em;
  max-width: max-content;
  height: 1em;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
