.App {
  text-align: center;
}

.hidden {
  display: none;
}

.navi {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.navi:hover {
  color: #5d5d5d;
}

.page {
  margin-block: 2vh;
  margin-inline: 3vh;
}

hr {
  width: 100vh;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.training-list h3 {
  margin-bottom: -0.5em;
}
.exercises-list p {
  margin-bottom: 0.25em;
}

form {
  justify-content: space-around;
  display: grid;
}
form h4 {
  margin-bottom: 1em;
  text-align: center;
}
form p {
  margin: auto;
  text-align: center;
}
.label-p-basic {
  display: inline;
}

form input, textarea {
  margin-block: 0.5em;
  width: 35%;
}
form .label-inp-num {
  width: 3.25em;
}
form .label-p-num {
  display: inline;
}
form button {
  width: 30%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
